<main id="main">
  <div class="article-wrap">
    <div class="row container">
      <div class="col-xl-2"></div>
      <div class="col-xl-8"><%- partial('_partial/post/article') %></div>
      <div class="col-xl-2">
        <% if (theme.toc.enable) { %>
          <%- partial('_partial/post/toc') %>
        <% } %>
      </div>
    </div>
  </div>
</main>